.container {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  height: 600px;
  text-align: flex-start;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  justify-content: center;
      margin: 100px auto;
  border: 1px solid black;
  box-shadow: 12px 12px 0px black;
  background-color: white;

}

.avatar {
  width: 30px;
  padding-left: 20px;
}

.container h4 {
  padding-left: 20px;
}

.equilibrium-image {
  border-radius: 15%;
  width: 87%;
  height: 85%;
  padding: 20px;

}

.button {
  width: auto;
  height: auto;
  border-color: #f5d04e;
  border-radius: 5px;
  background-color: #f5d04e;
  padding: 5px 10px;
  margin-left: 20px;
}

.container p {
  color:  grey;
  padding-left: 20px;
}

.container h2 {
  padding-left: 20px;
}

.container h3 {
  padding-left: 20px;
}

.container h4#name {
  padding-left: 70px;
}

body {
  background-color: #f5d04e;
}
